body {
    /*Usaremos flexbox para centrar las frases*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#palabra {
    color: white;
    font-family: 'ScarfaceFont';
    font-size: 3rem;
    text-align: center;
    border: 1px transparent;
    text-shadow: 2px 2px 12px black;
    /*Hacemos que el puntero cambie para indicar que se puede interactuar*/
    cursor: pointer;
    /*Animación que determina cuánto tarda en aparecer las frases*/
    animation: aparecer 0.4s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}